.cardd {
    width: 300px;
    border:1px solid black;
    border-radius: 4px;
    overflow: hidden;
}

.cardd img {
width: 100%;

}

.cardd h3 {
    margin: 4px 0;

}

.cardd p {
    margin: 6px 0;
}

.card-content {
    padding: 0 8px;
}